<div id="welcome">
	<div class="banner">
		<img src="images/reimbursement-icon.png" width="300px" />
		<div class="mainTitle">
			{{ 'reimbursement.welcome.title' | translate }}
		</div>
	</div>
	<div class="main">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">Expenses</div>
					<div class="panel-body">Blubb</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">Multilingual</div>
					<div class="panel-body">Määhh</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">Mampf</div>
					<div class="panel-body">Blööök</div>
				</div>
			</div>
		</div>
	</div>
</div>
