<div id="admin-pool-search">
	<h1 class="page-header"><i class="fa fa-search"></i> {{ 'reimbursement.adminPoolSearch.title' | translate }} </h1>
	<hr>

	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ 'reimbursement.adminPoolSearch.filterPanel' | translate }}
			</div>
			<div class="panel-body">
				<form id="searchForm" class="form-horizontal">
					<div class="form-group">
						<label for="admin-pool-date" class="control-label col-sm-4"> {{ 'reimbursement.adminPoolSearch.startTime' | translate }} </label>
						<div class="col-sm-3">
							<div class="input-group date datepicker-start-time">
								<input type="text" id="admin-pool-start-time" ng-model="form.startTime" class="form-control">
								<span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
							</div>
						</div>
						<label for="admin-pool-date" class="control-label col-sm-2"> {{ 'reimbursement.adminPoolSearch.endTime' | translate }} </label>
						<div class="col-sm-3">
							<div class="input-group date datepicker-end-time">
								<input type="text" id="admin-pool-end-time" ng-model="form.endTime" class="form-control">
								<span class="input-group-addon"> <span class="fa fa-calendar"></span> </span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="lastName" class="col-sm-4 control-label"> {{ 'reimbursement.adminPoolSearch.userLastName' | translate }} </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="lastName" ng-model="form.lastName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label"> {{ 'reimbursement.adminPoolSearch.userRole' | translate }} </label>
						<div class="col-sm-8">
							<select class="form-control" ng-model="form.role" ng-options="role as 'reimbursement.adminPoolSearch.role.'+role | translate for role in roles">
								<option selected value="">{{ 'reimbursement.adminPoolSearch.preselectedRole' | translate }}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="sapText" class="col-sm-4 control-label"> {{ 'reimbursement.adminPoolSearch.sapText' | translate }} </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="sapText" ng-model="form.accountingText">
						</div>
					</div>
					<div class="text-right">
						<button type="submit" class="btn btn-primary" ng-click="search()">
							<i class="fa fa-arrow-circle-right"></i>
							{{ 'reimbursement.adminPoolSearch.search' | translate }}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

<div ng-if="searchConducted">
		<h2 class="page-header">
			{{ 'reimbursement.adminPoolSearch.searchResults' | translate }}
		</h2>

	<table class="table table-striped">
			<thead>
			<tr>
				<th>{{ 'reimbursement.dashboard.table.expenseAuthor' | translate }}</th>
				<th>{{ 'reimbursement.expense.accountingTitle' | translate }}</th>
				<th>
					<span class="tableRightMargin">{{ 'reimbursement.dashboard.table.date' | translate }}</span>
				</th>
				<th>
					<span class="tableRightMargin">{{ 'reimbursement.dashboard.table.totalCosts' | translate }}</span>
				</th>
				<th>{{ 'reimbursement.dashboard.table.status' | translate }}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-if="expenses.length < 1">
				<td colspan="99" class="text-center">{{ 'reimbursement.dashboard.table.noContent' | translate }}</td>
			</tr>
			<tr ng-repeat="e in expenses | orderBy: stateOrderingProfAdmin">
				<td>{{e.user}}</td>
				<td>{{e.accounting}}</td>
				<td>{{e.date | date:'dd.MM.yyyy'}}</td>
				<td>
					<span class="tableRightMargin">{{ e.totalAmount | currency:'CHF ':2 }}</span>
				</td>
				<td class="text-center">
					<expense-state state="e.state"></expense-state>
				</td>
			</tr>
		</tbody>
	</table>
</div>
