<div id="admin-pool-graphs">
	<h1 class="page-header"><i class="fa fa-bar-chart"></i> {{ 'reimbursement.administration.graphs.title' | translate }} </h1>

	<uib-carousel interval="5000">
		<uib-slide active="item.active">
			<div class="item active">
				<h4 class="text-center"><span class="text"> {{ 'reimbursement.administration.graphs.stateGraphText' | translate }} </span></h4>
				<div id="graph-area-step-current-state-distribution"></div>
			</div>
		</uib-slide>
		<uib-slide>
			<div class="item">
				<h4 class="text-center"><span class="text"> {{ 'reimbursement.administration.graphs.percentageGraphText' | translate }} </span></h4>
				<div id="graph-gauge-accepted-declined"></div>
			</div>
		</uib-slide>
		<uib-slide>
			<div class="item">
				<h4 class="text-center"><span class="text"> {{ 'reimbursement.administration.graphs.totalAmountGraphText' | translate }} </span></h4>
				<div id="graph-line-sum-current-year"></div>
			</div>
		</uib-slide>
	</uib-carousel>
</div>