<div id="view-cost-category">
	<h1 class="page-header">
		<i class="fa fa-gear"></i>
		{{ 'reimbursement.administration.title' | translate }}
	</h1>

	<h2 class="page-header">
		<i class="fa fa-balance-scale"></i>
		{{'reimbursement.administration.costCategories' | translate}}
		<span class="pull-right">
			<button type="button" class="btn btn-sm btn-primary" ng-click="addCostCategory()">
				<i class="fa fa-plus-circle"></i>
				{{ 'reimbursement.administration.add' | translate }}
			</button>
		</span>
	</h2>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="order" ng-click="sortBy('accountNumber')">{{ 'reimbursement.costCategory.accountNumber' | translate }} <i class="fa {{ orderIcon.accountNumber }}"></i></th>
						<th class="order" ng-click="sortBy('name')">{{ 'reimbursement.costCategory.name' | translate }} <i class="fa {{ orderIcon.name }}"></i></th>
						<th>{{ 'reimbursement.costCategory.description' | translate }}</th>
						<th>{{ 'reimbursement.dashboard.table.status' | translate }}</th>
						<th>{{ 'reimbursement.general.action' | translate }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="c in costCategories | orderBy:orderColumn:orderReverse">
						<td>{{c.accountNumber}}</td>
						<td>{{c.name | costCategoryLanguage}}</td>
						<td>{{c.description | costCategoryLanguage | limitWordwise: 50 }}</td>
						<td>
							<div class="toggle" ng-class="{'active': c.isActive }" ng-click="toggleCostCategory(c.uid, c.isActive)"></div>
						</td>
						<td>
							<button class="btn btn-default btn-xs" ng-click="editCostCategory(c.uid)">
								<i class="fa fa-pencil"></i> {{ 'reimbursement.general.edit' | translate }}
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
