<div id="login" class="pos-rel">
	<spinner id="spinnerLogin" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>
	<h1 class="page-header">
		<i class="fa fa-sign-in"></i>
		{{ 'reimbursement.login.title' | translate }}
	</h1>

	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputUsername" class="col-sm-4 control-label">{{ 'reimbursement.login.usernameLabel' | translate }}</label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputUsername" ng-model="form.username" placeholder="{{ 'reimbursement.login.usernameLabel' | translate }}">
			</div>
		</div>
		<div class="form-group has-feedback">
			<label for="inputPassword" class="col-sm-4 control-label">{{ 'reimbursement.login.passwordLabel' | translate }}</label>
			<div class="col-sm-5 right-inner-addon">
				<input type="password" class="form-control" id="inputPassword" ng-model="form.password" placeholder="{{ 'reimbursement.login.passwordLabel' | translate }}" ng-keypress="checkCapsLock($event)">
				<span class="isCapsLockOn" ng-class="{active: isCapsLockOn}">
					<i ng-hide = "isIE()"class="fa fa-lg fa-warning capsLockIcon" uib-tooltip="{{ 'reimbursement.capsLockOnMessage' | translate }}" tooltip-placement="right" tooltip-trigger="mouseenter" tooltip-is-open="false"></i>
				</span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9">
				<button class="btn btn-primary pull-right" ng-click="submit()">
					{{ 'reimbursement.login.submitLabel' | translate }}
				</button>
			</div>
		</div>
	</form>
</div>
