.margin-top-10 {
	margin-top:10px;
}

.carousel {
	min-height: 500px;

	.carousel-control {
		background: transparent;

		.glyphicon {
			color: $default-color-dark-cyan;
		}
	}
	.carousel-indicators li {
		background-color: $default-color-info;
		border-color: transparent;
	}
}

#admin-pool-search {

	table th[ng-click] {
		cursor: pointer;
		user-select: none;

		.fa-sort {
			margin-left: 0.5em;
			color: #ccc;
		}
		.fa-sort-asc,
		.fa-sort-desc {
			margin-left: 0.5em;
		}
	}
	uib-accordion {
		.panel-group {
			margin-top: 10px;
			margin-bottom: 30px;
		}
		.panel-title a {
			display: block;
			font-size: 14px;
			text-decoration: none;
			outline: none;

			.fa-angle-down {
				transition: all ease 0.5s;

				&.to-right {
					transform: rotate(-90deg);
				}
			}
		}
		.panel-body {
			padding-top: 30px;
		}
	}
}