.margin-top-10 {
	margin-top:10px;
}

.carousel {
	min-height: 500px;

	.carousel-control {
		background: transparent;

		.glyphicon {
			color: $default-color-dark-cyan;
		}
	}
	.carousel-indicators li {
		background-color: $default-color-info;
		border-color: transparent;
	}
}