.margin-top-10 {
	margin-top:10px;
}

.carousel {
	min-height: 500px;

	.carousel-control {
		background: transparent;

		.glyphicon {
			color: $default-color-dark-cyan;
		}
	}
	.carousel-indicators ol {
		height: 20px;
	}
	.carousel-indicators li {
		&, &.active, &.active:after {
			width: 14px;
			height: 14px;
		}
		background: transparent;
		border-color: transparent;
		position: relative;
		margin: 0 2px 0 2px;
		border-radius: 0;

		&:after {
			content: "";
			display: block;
			position: absolute;
			border-radius: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			transition: all ease 0.5s;
			background-color: $default-color-info;
			width: 10px;
			height: 10px;
		}
	}
}

#admin-pool-search {
	table th[ng-click] {
		cursor: pointer;
		user-select: none;

		.fa-sort {
			margin-left: 0.5em;
			color: #ccc;
		}
		.fa-sort-asc,
		.fa-sort-desc {
			margin-left: 0.5em;
		}
	}
	uib-accordion {
		.panel-group {
			margin-top: 10px;
			margin-bottom: 30px;
		}
		.panel-title a {
			display: block;
			font-size: 14px;
			text-decoration: none;
			outline: none;

			.fa-angle-down {
				transition: all ease 0.5s;

				&.to-right {
					transform: rotate(-90deg);
				}
			}
		}
		.panel-body {
			padding-top: 30px;
		}
	}
}

#graph-area-step-current-state-distribution {
	width: 80%;
	margin: 0 auto;
}
