#attachmentCapture {

	#attachmentCaptureImage{
		margin: 20px 0 0 0;
	}

	#attachmentCaptureImage {
		.image-upload {
			border: 5px dashed $default-color-dark-cyan;
			height: 200px;
			border-radius: 35px;
			position: relative;
			padding: 7px;

			div[flow-drop] {
				width: 100%;
				height: 100%;
				border-radius: 28px;
				&.dragOver {
					background: $default-color-blue-drag-overlay;
				}
			}

			.center {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				color: $default-color-dark-cyan;
				font-size: 30px;
				font-weight: 300;
				user-select: none;
				text-align: center;

				&.uploadBar {
					width: 40%;
				}
				&.uploadButton {
					cursor: pointer;
				}
				.progress {
					margin: 0;
				}
			}
		}
	}
}

#attachmentCaptureQR {
	.qrCodeWrapper {
		margin-top: 15px;
		text-align: center;
	}
	qrcode {
		display: block;
		canvas {
			display: inline-block;
		}
	}
	.or {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 300;
	}
	.qrUrl {
		font-family: $font-family-monospace;
		font-size: 16px;
		display: inline-block;
		padding: 2px 9px;
		border-radius: 3px;
		border: 1px solid $default-color-gray;
		width: 65%;
	}
}

#attachmentCaptureMobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: white;
	overflow: hidden;

	.complete,
	.error {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10000;

		&.isComplete,
		&.isError {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.5s linear;
		}
		.text {
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 1.2em;
			text-align: center;

			.fa {
				font-size: 2em;
				margin-bottom: 0.2em;
			}
		}
	}
	.complete {
		background: $default-color-success;
	}
	.error {
		background: $default-color-error;
		.text {
			font-size: 1.2em;
		}
	}

	.buttons {
		position: absolute;
		bottom: 12px;
		right: 10px;
		margin-top: 10px;
	}

	#attachmentCaptureImage {
		padding: 20px;
		height: 100%;

		.image-upload {
			border: 5px dashed $default-color-dark-cyan;
			height: 100%;
			border-radius: 35px;
			position: relative;
			padding: 7px;

			div[flow-drop] {
				width: 100%;
				height: 100%;
				border-radius: 28px;
				&.dragOver {
					background: $default-color-blue-drag-overlay;
				}
			}

			.center {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				color: $default-color-dark-cyan;
				font-size: 26px;
				font-weight: 300;
				user-select: none;
				text-align: center;

				&.uploadBar {
					width: 40%;
				}
				&.uploadButton {
					cursor: pointer;
				}
				.progress {
					margin: 0;
				}
			}
		}
	}
}