table thead th {
	vertical-align: top;

	small {
		color: $default-color-lightgray;
		font-weight: normal;
	}
}

.align-right {
	text-align: right;
}

.title-date-right {
	float: right;
	font-size: 10px;
	margin-top: 7px;
}

.note-feedback {
	max-height: 177px;
	overflow-y: scroll;
}

.float-right {
	float: right;
}