body, html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: $default-font-family;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.deferred-bootstrap-loading body {
	cursor: progress;
}

.no-wrap {
	white-space: nowrap;
}

.pre-wrap {
	white-space: pre-wrap;
}

textarea {
	resize: vertical;
}

.textarea-md {
	min-height: 130px;
}

.navbar.navbar-inverse {
	border-radius: 0;
}

.col-centered {
	display: inline-block;
	float: none;
	/* inline-block space fix */
	margin-right: -4px;
}

.clearfix {
	clear: both;
}

.pos-rel {
	position: relative;
}

.vert-mid {
	display: inline-block;
	vertical-align: middle;
}

.well {
	&.with-info-in-well {
		position:relative;
		padding-left: 100px;
	}
	& .fa.info-in-well {
		position: absolute;
		left: 3%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 54px;
		color: #337ab7;
	}
}

.fa {
	margin-left: 0.15em;
	margin-right: 0.15em;
}

h1.page-header small > .fa {
	margin-left: 0.6em;
}

.modal-body {
	position: static;
}

.ui-view-container {
	position: relative;

	[ui-view] {
		background: white;
		position: absolute;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;

		&.ng-enter,
		&.ng-enter-active {
			z-index: 11;
		}
		&.ng-enter,
		&.ng-leave {
			transition: all 0.4s ease-in-out;
		}
		&.ng-enter {
			transition-delay: 0.1s;
			opacity: 0;
			transform: translateX(-40px);
		}
		&.ng-enter-active {
			opacity: 1;
			transform: translateX(0);
		}
		&.ng-leave {
			opacity: 1;
		}
		&.ng-leave-active {
			opacity: 0;
			transform: translateX(40px);
		}
	}

}

.right-inner-addon {
	&:after {
		content: '\f071';
		position: absolute;
		font-family: FontAwesome;
		color: $default-color-error;
		right: 1.3em;
		top: 50%;
		transform: translateY(-45%);
		font-size: 18px;
		opacity: 0;
		visiblity: hidden;
		transition: 0.15s ease all;
	}
	.fa,
	.inline-spinner,
	.inline-validation {
		position: absolute;
		top: 50%;
		right: 1.3em;
		transform: translateY(-50%);
	}
	.inline-spinner {
		right: 1.3em;
		margin-top:1px;

		&.right-margin {
			right: 2.3em;
		}
	}
	&.error:after {
		opacity: 1;
		visiblity: visible;
	}

}
.inline-spinner {
	font-size: 18px;

	&.pull-right {
		margin-left: 10px;
	}
}

.isCapsLockOn {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s all ease;
	&.active {
		visibility: visible;
		opacity: 1;
	}
	.fa {
		color: rgba(255, 153, 0, 1);
		transform: translateY(-33%);
	}
	.tooltip.right {
		line-height: 1.6;
		transform: translate(14px, -1px);
		.tooltip-inner {
			white-space: nowrap;
			background: #737373;
		}
		.tooltip-arrow {
			border-right-color: #737373;
		}
	}
}

.input-validation {
	transition: 0.3s ease all;
	&.ng-touched.ng-invalid {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
		border-color: $default-color-input-validation-invalid;
	}
}

