body, html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: $default-font-family;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body.deferred-bootstrap-loading {
	cursor: progress;
}

.pre-wrap {
	white-space: pre-wrap;
}

textarea {
	resize: vertical;
}

.margin-top-05 {
	margin-top: $default-margin-top-05;
}

.margin-top-10 {
	margin-top: $default-margin-top-10;
}

.margin-top-15 {
	margin-top: $default-margin-top-15;
}

.margin-top-20 {
	margin-top: $default-margin-top-20;
}

.margin-top-25 {
	margin-top: $default-margin-top-25;
}

.margin-top-30 {
	margin-top: $default-margin-top-30;
}

.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* inline-block space fix */
	margin-right: -4px;
}

.clearfix {
	clear: both;
}

.pos-rel {
	position: relative;
}

.well {
	&.with-info-in-well {
		position:relative;
	}
	& .fa.info-in-well {
		position: absolute;
		right: 4%;
		top: 50%;
		color: #FFF;
		transform: translateY(-50%);
		font-size: 54px;
	}
}
