body, html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: $default-font-family;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body.deferred-bootstrap-loading {
	cursor: progress;
}

.pre-wrap {
	white-space: pre-wrap;
}

textarea {
	resize: vertical;
}

.textarea-md {
	min-height: 130px;
}

.navbar.navbar-inverse {
	border-radius: 0;
}

.margin-top-10 {
	margin-top: $default-margin-top-10;
}

.col-centered {
	display: inline-block;
	float: none;
	/* inline-block space fix */
	margin-right: -4px;
}

.clearfix {
	clear: both;
}

.pos-rel {
	position: relative;
}

.vert-mid {
	display: inline-block;
	vertical-align: middle;
}

.well {
	&.with-info-in-well {
		position:relative;
		padding-left: 100px;
	}
	& .fa.info-in-well {
		position: absolute;
		left: 3%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 54px;
		color: #337ab7;
	}
}

.fa {
	margin-left: 0.15em;
	margin-right: 0.15em;
}

h1.page-header small > .fa {
	margin-left: 0.6em;
}

.modal-body {
	position: static;
}
