//font
$default-font-family:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$default-margin-top-05: 0.5em;
$default-margin-top-10: 1.0em;
$default-margin-top-15: 1.5em;
$default-margin-top-20: 2.0em;
$default-margin-top-25: 2.5em;
$default-margin-top-30: 3.0em;