// font
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-monospace: "Consolas", "Monaco", "Menlo", "Courier New", monospace;
$default-font-family: $font-family-sans-serif;

// colors
$default-color-lightgray: #dfdfdf;
$default-color-gray: #aaa;
$default-color-darkgray: #666;

$default-color-lightblack: #333;

$default-color-error: #C43834;
$default-color-warning: #FF7F00;
$default-color-info: #6797E6;
$default-color-success: #178322;

$default-color-dark-cyan: #337AB7;
$default-color-blue-drag-overlay: #C5E4FF;

$default-color-bootstrap-blue: #337AB7;

$default-color-input-validation-invalid: #F19494;
$default-color-input-validation-valid: #6CCE70;

$default-color-toggle: #ccc;
$default-color-toggle-active: #4FBE79;