#welcome {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 30;
	transition: 0.5s all ease;
	background: url('welcome_uzh.jpg') no-repeat;
	background-position: 50% 8%;
	background-attachment: fixed;
	background-size: cover;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;

		& + div .navbar.navbar-inverse {
			box-shadow: 0 5px 15px rgba(0,0,0,0.3);
		}
	}

	.banner {
		text-align: center;
		width: 100%;
		position: absolute;
		top: 28%;

		.mainTitle {
			color: white;
			font-size: 70px;
			font-weight: 700;
			text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
		}
		.subTitle {
			color: white;
			font-size: 40px;
			font-weight: 300;
			margin-top: -5px;
			text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
		}
		hr {
			display: block;
			border: 0;
			height: 3px;
			width: 180px;
			background: rgba(255,255,255,0.8);
			margin: 2% auto 2.7%;
		}
		.btn-lg+.btn-lg {
			margin-left: 20px;
		}
	}
}
