.table thead th {
	vertical-align: top;

<<<<<<< HEAD
.red-border {
  border-color: red;
}

=======
	small {
		color: lightgray;
		font-weight: normal;
	}
}
>>>>>>> 27b1a18acbaa4d5b77a4c153e28b4e329e94a047
