body {
	margin: 0;
	padding: 10px;
}
.test {
	background-image: linear-gradient(#eee, #ddd);

	& > p {
		color: #333;
	}
}
canvas#signaturePad {
	display: block;
	margin: 0 auto;
	border: 2px solid #EEE;
	border-radius: 6px;
	cursor: default;
}
.clearSignaturePad {
	display: block;
	margin: 0 auto;
}
