.global-error,
.global-warning,
.global-info {
	.modal-header {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom: 0;
	}
	.modal-footer {
		border-top: 0;
		padding-top: 0;
	}
}

.global-error .modal-header {
	background-color: #D1322E;
	color: white;
}

.global-warning .modal-header {
	background-color: #FF7F00;
	color: white;
}

.global-info .modal-header {
	background-color: #6797E6;
	color: white;
}
