#signatureCapture {

	#signatureCaptureImage,
	#signatureCaptureTouch {
		margin: 20px 0 0 0;
	}

	#signatureCaptureImage {
		padding-bottom: 60px;

		.image-upload {
			$color: #337AB7;
			border: 5px dashed $color;
			height: 260px;
			border-radius: 35px;
			position: relative;
			padding: 7px;

			div[flow-drop] {
				width: 100%;
				height: 100%;
				border-radius: 28px;
				&.dragOver {
					background: #C5E4FF;
				}
			}

			.center {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				color: $color;
				font-size: 30px;
				font-weight: 300;
				user-select: none;
				text-align: center;

				&.uploadBar {
					width: 40%;
				}
				&.uploadButton {
					cursor: pointer;
				}
				.progress {
					margin: 0;
				}
			}
		}
	}

	#signatureCaptureTouch {
		padding-bottom: 20px;

		.signaturePad {
			.pad {
				display: block;
				margin: 0 auto;
				width: 100%;
				border: 2px solid #DFDFDF;
				border-radius: 6px;
				cursor: default;
			}
			.buttons {
				margin-top: 10px;
				text-align: right;
			}
		}
		.resetForceSignature {
			position: absolute;
			display: block;
			margin-left: 10px;
			margin-top: 10px;
			cursor: pointer;
			padding: 0 7px;
			font-size: 38px;
			line-height: 0;
			user-select: none;
		}
		.forceSignature {
			margin-top: 10px;
		}
		.alert .buttons {
			text-align: center;
			margin-top: 15px;
			.btn + .btn {
				margin-left: 2px;
			}
		}
	}
}

#signatureCaptureQR {
	.qrCodeWrapper {
		margin-top: 15px;
		text-align: center;
	}
	qrcode {
		display: block;
		canvas {
			display: inline-block;
		}
	}
	.or {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: 300;
	}
	.qrUrl {
		font-family: Consolas, monospace;
		font-size: 16px;
		display: inline-block;
		padding: 2px 9px;
		border-radius: 3px;
		border: 1px solid #aaa;
		width: 65%;
	}
}

#signatureCaptureMobile {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: white;
	overflow: hidden;

	.complete,
	.error {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10000;

		&.isComplete,
		&.isError {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.5s linear;
		}
		.text {
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 2em;
			text-align: center;

			.fa {
				font-size: 2em;
			}
		}
	}
	.complete {
		background: #178322;
	}
	.error {
		background: #D1322E;
		.text {
			font-size: 1.5em;
		}
	}

	.pad {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		cursor: default;
	}
	.buttons {
		position: absolute;
		bottom: 12px;
		right: 10px;
		margin-top: 10px;
	}
}
