<div id="dashboard">
	<h1 class="page-header">{{ 'reimbursement.dashboard.title' | translate }}</h1>

	<h2 class="page-header">{{ 'reimbursement.dashboard.myExpenses' | translate }}</h2>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{ 'reimbursement.dashboard.table.date' | translate }}</th>
			<th>{{ 'reimbursement.expense.accounting_text' | translate }}</th>
			<th>{{ 'reimbursement.dashboard.table.totalCosts' | translate }}</th>
			<th>{{ 'reimbursement.dashboard.table.status' | translate }}</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="e in myExpenses | orderBy:'date'">
			<td>{{ e.date | date: 'dd.MM.yyyy' }}</td>
			<td>{{ e.account }}</td>
			<td>{{ e.amount | currency:'CHF ':2 }}</td>
			<td ng-if="e.state === 'CREATED'">
				<span class="label label-info">{{ 'reimbursement.expense.state.created' | translate }}</span>
			</td>
			<td ng-if="e.state === 'ACCEPTED'">
				<span class="label label-success">{{ 'reimbursement.expense.state.accepted' | translate }}</span>
			</td>
			<td ng-if="e.state === 'REJECTED'">
				<span class="label label-danger">{{ 'reimbursement.expense.state.rejected' | translate }}</span>
			</td>
			<td ng-if="e.state === 'ASSIGNED_TO_PROFESSOR'">
				<span class="label label-warning">{{ 'reimbursement.expense.state.assigned_to_professor' | translate }}</span>
			</td>
			<td ng-if="(e.state === 'CREATED' || e.state === 'REJECTED')">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
						Action <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a
							ng-click="go('expense',{id:e.uid, isReview:0})"><i
							class="fa fa-pencil"></i> {{ 'reimbursement.expense.edit' | translate }}</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="row row-centered" ng-if="myExpenses.length < 1">
		<div class="col-md-12 col-centered">
			{{ 'reimbursement.dashboard.table.noContent' | translate }}
		</div>
	</div>

	<div class="row pull-right">
		<button type="button" class="btn btn-warning" ng-click="addExpense_deprecated()">
			<i class="fa fa-plus-circle"></i>
			{{ 'reimbursement.dashboard.table.addExpense' | translate }}_deprecated
		</button>
		<button type="button" class="btn btn-primary" ng-click="addExpense()">
			<i class="fa fa-plus-circle"></i>
			{{ 'reimbursement.dashboard.table.addExpense' | translate }}
		</button>
	</div>

	<div ng-if="showReviewSection">
		<h2 class="page-header">{{ 'reimbursement.dashboard.myReviewExpenseItems' | translate }}</h2>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>{{ 'reimbursement.dashboard.table.date' | translate }}</th>
				<th>{{ 'reimbursement.expense.accounting_text' | translate }}</th>
				<th>{{ 'reimbursement.dashboard.table.totalCosts' | translate }}</th>
				<th>{{ 'reimbursement.dashboard.table.status' | translate }}</th>
				<th>{{ 'reimbursement.expense.action' | translate }}</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="e in myReviewExpenses">
				<td>{{e.date | date:'dd.MM.yyyy'}}</td>
				<td>{{e.account}}</td>
				<td>{{e.amount | currency:'CHF ':2}}</td>
				<td>
					<span class="label label-info">
						{{ 'reimbursement.expense.state.assigned_to_professor' | translate }}
					</span>
				</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="go('expense',{id:e.uid, isReview:1})">
							<i class="fa fa-eye"></i>
							{{ 'reimbursement.expense.validate' | translate }}
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div class="row row-centered" ng-if="myReviewExpenses.length < 1">
			<div class="col-md-12 col-centered">
				{{ 'reimbursement.dashboard.table.noContent' | translate }}
			</div>
		</div>
	</div>
</div>
