<div id="dashboard">
	<h1 class="page-header">
		<i class="fa fa-dashboard"></i>
		{{ 'reimbursement.dashboard.title' | translate }}
	</h1>

	<h2 class="page-header">{{ 'reimbursement.dashboard.myExpenses' | translate }}</h2>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>{{ 'reimbursement.expense.accountingTitle' | translate }}</th>
			<th>{{ 'reimbursement.dashboard.table.date' | translate }}</th>
			<th class="table-right-aligned">{{ 'reimbursement.dashboard.table.totalCosts' | translate }}</th>
			<th class="text-center">{{ 'reimbursement.dashboard.table.status' | translate }}</th>
			<th>{{ 'reimbursement.expense.action' | translate }}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-if="myExpenses.length < 1">
			<td colspan="99" class="text-center">{{ 'reimbursement.dashboard.table.noContent' | translate }}</td>
		</tr>
		<tr ng-repeat="e in myExpenses | orderBy:'date'">
			<td>{{ e.accounting }}</td>
			<td>{{ e.date | date: 'dd.MM.yyyy' }}</td>
			<td class="table-right-aligned">{{ e.totalAmount | currency:'CHF ':2 }}</td>
			<td class="text-center" ng-if="e.state === 'DRAFT'">
				<span class="label label-info">{{ 'reimbursement.expense.state.draft' | translate }}</span>
			</td>
			<td class="text-center" ng-if="e.state === 'ASSIGNED_TO_PROFESSOR'">
				<span
					class="label label-info">{{ 'reimbursement.expense.state.assigned_to_professor' | translate }}</span>
			</td>
			<td class="text-center" ng-if="e.state === 'ASSIGNED_TO_FINANCE_ADMIN'">
				<span
					class="label label-info">{{ 'reimbursement.expense.state.assigned_to_finance_admin' | translate }}</span>
			</td>
			<td class="text-center" ng-if="e.state === 'ACCEPTED'">
				<span class="label label-success">{{ 'reimbursement.expense.state.accepted' | translate }}</span>
			</td>
			<td class="text-center" ng-if="e.state === 'REJECTED'">
				<span
					class="label label-danger">{{ 'reimbursement.expense.state.rejected' | translate }}</span>
			</td>
			<td class="text-center" ng-if="e.state === 'PRINTED'">
				<span
					class="label label-success">{{ 'reimbursement.expense.state.printed' | translate }}</span>
			</td>
			<td>
				<div class="btn-group" ng-if="(e.state === 'CREATED' || e.state === 'REJECTED' || e.state === 'DRAFT')">
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
						{{ 'reimbursement.dashboard.action' | translate }} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<!-- TODO link to edit-expense, not create expense (code shared with common directive) -->
							<a href ui-sref="create-expense({uid: e.uid})">
								<i class="fa fa-pencil"></i>
								{{ 'reimbursement.expense.edit' | translate }}
							</a>
						</li>
						<li class="divider" ng-if="e.state === 'DRAFT'"></li>
						<li ng-if="e.state === 'DRAFT'">
							<a href ng-click="deleteExpense(e.uid)">
								<i class="fa fa-trash"></i>
								{{ 'reimbursement.expense.delete' | translate }}
							</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

	<div class="text-right">
		<button type="button" class="btn btn-primary" ng-click="addExpense()">
			<i class="fa fa-plus-circle"></i>
			{{ 'reimbursement.dashboard.table.addExpense' | translate }}
		</button>
	</div>

	<div ng-if="showReviewSection">
		<h2 class="page-header">{{ 'reimbursement.dashboard.myReviewExpenseItems' | translate }}</h2>

		<table class="table table-striped">
			<thead>
			<tr>
				<th>{{ 'reimbursement.expense.accountingTitle' | translate }}</th>
				<th>
					<span class="tableRightMargin">{{ 'reimbursement.dashboard.table.date' | translate }}</span>
				</th>
				<th>
					<span class="tableRightMargin">{{ 'reimbursement.dashboard.table.totalCosts' | translate }}</span>
				</th>
				<th>{{ 'reimbursement.dashboard.table.status' | translate }}</th>
				<th>{{ 'reimbursement.expense.action' | translate }}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-if="myReviewExpenses.length < 1">
				<td colspan="99" class="text-center">{{ 'reimbursement.dashboard.table.noContent' | translate }}</td>
			</tr>
			<tr ng-repeat="e in myReviewExpenses">
				<td>{{e.accounting}}</td>
				<td>{{e.date | date:'dd.MM.yyyy'}}</td>
				<td>
					<span class="tableRightMargin">{{ e.totalAmount | currency:'CHF ':2 }}</span>
				</td>
				<td ng-if="e.state === 'DRAFT'">
					<span class="label label-info">{{ 'reimbursement.expense.state.draft' | translate }}</span>
				</td>
				<td ng-if="e.state === 'ASSIGNED_TO_PROFESSOR'">
				<span
					class="label label-info">{{ 'reimbursement.expense.state.assigned_to_professor' | translate }}</span>
				</td>
				<td ng-if="e.state === 'ASSIGNED_TO_FINANCE_ADMIN'">
				<span
					class="label label-info">{{ 'reimbursement.expense.state.assigned_to_finance_admin' | translate }}</span>
				</td>
				<td ng-if="e.state === 'ACCEPTED'">
					<span class="label label-success">{{ 'reimbursement.expense.state.accepted' | translate }}</span>
				</td>
				<td ng-if="e.state === 'REJECTED'">
				<span
					class="label label-danger">{{ 'reimbursement.expense.state.rejected' | translate }}</span>
				</td>
				<td ng-if="e.state === 'PRINTED'">
				<span
					class="label label-success">{{ 'reimbursement.expense.state.printed' | translate }}</span>
				</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-primary">
							<i class="fa fa-eye"></i>
							{{ 'reimbursement.expense.validate' | translate }}
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
