<div id="expense-item-form">
	<form class="form-horizontal" name="$parent.formExpenseItem">
		<div class="form-group">
			<label for="expenseitem-date" class="control-label col-sm-4">
				{{ 'reimbursement.expenseItem.date' | translate }}
			</label>
			<div class="col-sm-8">
				<div class="input-group date datepicker" ng-if="editable">
					<input type="text" id="expenseitem-date" ng-model="form.date" class="form-control" ng-change="calculateAmount()">
					<span class="input-group-addon">
						<span class="fa fa-calendar"></span>
					</span>
				</div>
				<div class="form-control-static" ng-if="!editable">{{ form.date }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="expenseitem-costcategory" class="control-label col-sm-4">
				{{ 'reimbursement.expenseItem.costCategory' | translate }}
				<i class="fa fa-info-circle fa-lg info-cost-category" ng-click="openCostCategoryModal()" ng-if="editable"></i>
			</label>
			<div class="col-sm-8">
				<select id="expenseitem-costcategory" class="form-control" ng-model="form.costCategoryUid" ng-if="editable">
					<option ng-repeat="category in costCategories" value="{{ category.uid }}">{{ category.name | costCategoryLanguage }}</option>
				</select>
				<div class="form-control-static" ng-if="!editable">
					{{ costCategoryLabel }}
					<i class="fa fa-info-circle fa-lg info-cost-category" ng-click="openViewOnlyCostCategoryModal()"></i>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="expenseitem-amount" class="control-label col-sm-4">
				{{ 'reimbursement.expenseItem.amount' | translate }}
			</label>
			<div class="col-sm-4" style="padding-right: 0;" ng-if="editable">
				<div class="right-inner-addon">
					<input type="number" id="expenseitem-amount" ng-model="form.originalAmount" name="originalAmount"
						   pattern="{{'expense.amount' | regexValidation}}" class="input-validation form-control text-center" ng-change="calculateAmount()" required>
				</div>

			</div>
			<div class="col-sm-4" ng-if="editable">
				<select id="expenseitem-currency" class="form-control" ng-model="form.currency" ng-change="calculateAmount()">
					<option ng-repeat="currency in currencies" value="{{ currency }}">{{ currency }}</option>
				</select>
			</div>
			<div class="col-sm-8" ng-if="!editable">
				<div class="form-control-static">{{ form.originalAmount | currency: form.currency + ' ' : 2 }}</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-4">
				{{ 'reimbursement.expenseItem.calculatedAmount' | translate }}
			</label>
			<div class="col-sm-4" style="padding-right: 0;" ng-if="editable">
				<input type="text" class="form-control text-center" disabled value="{{ calculatedAmount }}">
			</div>
			<div class="col-sm-4 form-control-static" ng-if="editable">
				<div class="label label-default" style="font-size: 14px;">CHF</div>
			</div>
			<div class="col-sm-8" ng-if="!editable">
				<div class="form-control-static">{{ staticCalculatedAmount | currency : 'CHF ' : 2 }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="expenseitem-project" class="control-label col-sm-4">
				{{ 'reimbursement.expenseItem.project' | translate }}
			</label>
			<div class="col-sm-8">
				<div class="right-inner-addon">
					<input type="text" id="expenseitem-project" ng-model="form.project" name="project" pattern="{{'expense.project' | regexValidation}}"
						   class="input-validation form-control" ng-if="editable" required>
					<span ng-class="{'inline-validation error': !$parent.formExpenseItem.project.$valid}"></span>
				</div>
				<div class="form-control-static" ng-if="!editable">{{ form.project }}</div>
			</div>
		</div>
		<div class="form-group">
			<label for="expenseitem-explanation" class="control-label col-sm-4">
				{{ 'reimbursement.expenseItem.explanation' | translate }}
			</label>
			<div class="col-sm-8">
				<div class="right-inner-addon">
					<textarea id="expenseitem-explanation" ng-model="form.explanation" name="explanation" pattern="{{'expense.explanation' | regexValidation}}"
							  class="input-validation form-control" ng-if="editable" required></textarea>
					<span ng-class="{'inline-validation error': !$parent.formExpenseItem.explanation.$valid}"></span>
				</div>
				<div class="form-control-static" ng-if="!editable">{{ form.explanation }}</div>
			</div>
		</div>
		<div class="form-group" ng-if="editable">
			<label class="control-label col-sm-4">
				{{ 'reimbursement.expenseItem.uploadReceipt' | translate }}
				<span class="form-label-description">
					{{ 'reimbursement.expenseItem.uploadReceipt.fileExtensions' | translate }}
				</span>
			</label>
			<div class="col-sm-8">
				<attachment-upload expense-item-uid="expenseItemUid" has-attachment="attachment.hasAttachment" ng-if="editable"></attachment-upload>
			</div>
		</div>
	</form>
</div>
