<div id="guest-view-expense-item">

    <div class="modal-header">
        <div class="close" ng-click="dismiss()">&times;</div>
        <h3 class="modal-title">
            <i class="fa fa-file-text-o"></i>
            {{ 'reimbursement.view-expense.title' | translate }}
        </h3>
    </div>

    <div class="pos-rel">
        <spinner id="spinnerExpenseItemForm" class="{{ 'reimbursement.loading.label' | translate }}"></spinner>

        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        {{ 'reimbursement.expense-item.date' | translate }}
                    </label>
                    <div class="col-sm-8">
                        <div class="form-control-static">{{ expenseItem.date | date:'dd.MM.yyyy' }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        {{ 'reimbursement.expense-item.costcategory' | translate }}
                        <i class="fa fa-info-circle fa-lg info-cost-category" ng-click="openCostCategoryModal()"></i>
                    </label>
                    <div class="col-sm-8">
                        <div class="form-control-static">
                            {{ expenseItem.costCategory.accountNumber }}:
                            {{ expenseItem.costCategory.name | costCategoryTranslation }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        {{ 'reimbursement.expense-item.amount' | translate }}
                    </label>
                    <div class="col-sm-8">
                        <div class="form-control-static">{{ expenseItem.originalAmount | currency: expenseItem.currency + ' ' : 2 }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        {{ 'reimbursement.expense-item.calculatedAmount' | translate }}
                    </label>
                    <div class="col-sm-8">
                        <div class="form-control-static">{{ expenseItem.calculatedAmount | currency : 'CHF ' : 2 }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        {{ 'reimbursement.expense-item.project' | translate }}
                    </label>
                    <div class="col-sm-8">
                        <div class="form-control-static">{{ expenseItem.project }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">
                        {{ 'reimbursement.expense-item.explanation' | translate }}
                    </label>
                    <div class="col-sm-8">
                        <div class="form-control-static">{{ expenseItem.explanation }}</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="dismiss()">
                <i class="fa fa-times"></i>
                {{ 'reimbursement.expense.closeButton' | translate }}
            </button>
        </div>
    </div>
</div>

