<div id="list-expense-items">
	<spinner id="spinnerListExpenseItems" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ 'reimbursement.expense-item.date' | translate }}</th>
				<th>{{ 'reimbursement.expense-item.costcategory' | translate }}</th>
				<th>{{ 'reimbursement.expense-item.amount' | translate }}</th>
				<th>{{ 'reimbursement.expense-item.project' | translate }}</th>
				<th>{{ 'reimbursement.expense.action' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="expenseItems.length === 0">
				<td colspan="999" class="text-center">{{ 'reimbursement.expense.noExpenseItems' | translate }}</td>
			</tr>
			<tr ng-repeat="expenseItem in expenseItems | orderBy: '-date'">
				<td>{{ expenseItem.date | date: 'yyyy-MM-dd' }}</td>
				<td>{{ expenseItem.costCategory | costCategoryLanguage }}</td>
				<td>{{ expenseItem.calculatedAmount | number: 2 }} Fr.</td>
				<td>{{ expenseItem.project }}</td>
				<td style="width:0;">
					<div class="dropdown">
						<button data-toggle="dropdown" aria-expanded="true" class="btn btn-default btn-xs dropdown-toggle" id="action-button_{{expenseItem.uid}}">
							<i class="fa fa-caret-down"></i>&nbsp;
							{{'reimbursement.expense.action' | translate}}
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="action-button_{{expenseItem.uid}}">
							<li role="presentation">
								<a href tabindex="-1" role="menuitem" ng-click="editExpenseItem(expenseItem.uid)">
									<i class="fa fa-pencil"></i>
									{{ 'reimbursement.expense.edit' | translate }}
								</a>
							</li>
							<li class="divider"></li>
							<li role="presentation">
								<a href tabindex="-1" role="menuitem" ng-click="deleteExpenseItem(expenseItem.uid)">
									<i class="fa fa-trash"></i>
									{{ 'reimbursement.expense.delete' | translate }}
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>

	</table>

	<button class="btn-primary btn pull-right" ng-click="addExpenseItem()">
		<i class="fa fa-plus"></i>
		{{ 'reimbursement.expense.addNewReceiptButton' | translate }}
	</button>
	<div class="clearfix"></div>

</div>