<div id="list-expense-items">
	<spinner id="spinnerListExpenseItems" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{{ 'reimbursement.expenseItem.date' | translate }}</th>
				<th>{{ 'reimbursement.expenseItem.costCategory' | translate }}</th>
				<th>{{ 'reimbursement.expenseItem.amount' | translate }}</th>
				<th>{{ 'reimbursement.expenseItem.project' | translate }}</th>
				<th>{{ 'reimbursement.expenseItem.explanation' | translate }}</th>
				<th>{{ 'reimbursement.general.action' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="expenseItems.length === 0">
				<td colspan="999" class="text-center">{{ 'reimbursement.expense.noExpenseItems' | translate }}</td>
			</tr>
			<tr ng-repeat="expenseItem in expenseItems | orderBy: 'date'">
				<td>{{ expenseItem.date | date: 'dd.MM.yyyy' }}</td>
				<td>{{ expenseItem.costCategory.name | costCategoryLanguage }}</td>
				<td>{{ expenseItem.calculatedAmount | number: 2 }} Fr.</td>
				<td>{{ expenseItem.project }}</td>
				<td>{{ expenseItem.explanation | limitWordwise: 40 }}</td>
				<td style="width:0;" ng-if="editable" class="no-wrap">
					<button class="btn btn-default btn-xs" ng-click="editExpenseItem(expenseItem)">
							<i class="fa fa-pencil"></i>
							{{ 'reimbursement.general.edit' | translate }}
					</button>
					<button class="btn btn-default btn-xs" ng-click="deleteExpenseItem(expenseItem.uid)">
							<i class="fa fa-trash"></i>
					</button>
				</td>
				<td ng-if="!editable">
					<button class="btn btn-default btn-xs" ng-click="viewExpenseItem(expenseItem)">
						<i class="fa fa-eye"></i>
						{{ 'reimbursement.expense.viewItem' | translate }}
					</button>
				</td>
			</tr>
		</tbody>

	</table>

	<button class="btn-primary btn pull-right" ng-click="addExpenseItem()" ng-if="editable" ng-disabled="addExpenseItemButtonDisabled">
		<i class="fa fa-plus"></i>
		{{ 'reimbursement.expense.addNewReceiptButton' | translate }}
	</button>
	<div class="clearfix"></div>

</div>
