<div id="create-expense">

	<h1 class="page-header">
		<i class="fa fa-clone"></i>
		{{ 'reimbursement.create-expense-step2.title' | translate }}
	</h1>

	<div class="pos-rel">
		<spinner id="spinnerCreateExpense" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>

		<list-expense-items expense-uid="expenseUid" expense-items="expenseItems"></list-expense-items>

		<div ng-if="expenseItems.length > 0">
			<hr>

			<form class="form-inline text-right">
				<button class="btn btn-primary" ng-click="submitToProf()">
					<i class="fa fa-arrow-circle-right"></i>
					{{ 'reimbursement.expense.submitToProfButton' | translate }}
				</button>
			</form>
		</div>

	</div>

</div>
