<div id="create-expense">

	<h1 class="page-header"> {{ expenseAccountingText }}
	<button class="btn btn-sm btn-default" ng-click="editExpenseSap()">
		<i class="fa fa-pencil"></i>
		{{ 'reimbursement.expense.edit' | translate }}
	</button></h1>

	<div ng-if="expense.state === 'REJECTED'" class="alert alert-danger" role="alert">
		<i class="fa fa-times"></i>
		<span>{{ 'reimbursement.expense.rejectComment' | translate }}</span>
		<br>
		<div>
			<b>{{ expense.rejectComment}}</b>
		</div>
	</div>

	<h2 class="page-header"><i class="fa fa-clone"></i> {{ 'reimbursement.expense-items.title' | translate }} </h2>

	<div class="pos-rel">
		<spinner id="spinnerCreateExpense" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>

		<list-expense-items expense-uid="expenseUid" expense-items="expenseItems"></list-expense-items>

		<hr>

		<form class="form-inline text-right">
			<button class="btn btn-default pull-left" ui-sref="dashboard">
				<i class="fa fa-arrow-circle-left"></i>
				{{ 'reimbursement.expense.returnToDashboard' | translate }}
			</button>
			<button class="btn btn-primary" ng-click="submitToManager()" ng-if="expenseItems.length > 0">
				<i class="fa fa-arrow-circle-right"></i>
				{{ 'reimbursement.expense.submitToManagerButton' | translate }}
			</button>
		</form>

	</div>

</div>
