<div id="expense-sap-form">
	<div class="well with-info-in-well">
		<span class="fa fa-info-circle info-in-well"></span>
		<span class="pre-wrap">{{ 'reimbursement.expense.accountingDescription' | translate }}</span>
	</div>
	<form class="form-horizontal" name="$parent.formSAP" ng-submit = "nextStep()">
		<div class="form-group">
			<label for="accountingText" class="col-sm-5 control-label">
				{{ 'reimbursement.expense.accountingLabel' | translate }}
			</label>
			<div class="col-sm-7 right-inner-addon" ng-class="{'error': $parent.formSAP.accountingText.$invalid && $parent.formSAP.accountingText.$touched}">
				<input type="text" pattern="{{'expense.sapDescription' | regexValidation}}" class="form-control input-validation" id="accountingText" name="accountingText" ng-model="accountingText" required>
			</div>
		</div>
	</form>
</div>