<div class="expense-button">
	<div ng-if="details.name === 'edit-expense'" >
		<button class="btn btn-default btn-xs" ui-sref="expense({uid: expenseUid})">
			<i class="fa fa-pencil"></i>
					{{ 'reimbursement.expense.edit' | translate }}
		</button>
		<button class="btn btn-default btn-xs" ng-click="deleteExpense()">
			<i class="fa fa-trash"></i>
		</button>
	</div>
	<div ng-if="details.name === 'view-expense'">
		<button class="btn btn-default btn-xs" ui-sref="expense({uid: expenseUid})">
			<i class="fa fa-eye"></i>
			{{ 'reimbursement.expense.viewItem' | translate }}
		</button>
	</div>
	<div ng-if="details.name === 'review-expense'">
		<button class="btn btn-default btn-xs" ui-sref="expense({uid: expenseUid})">
			<i class="fa fa-gavel"></i>
			{{ 'reimbursement.expense.validate' | translate }}
		</button>
	</div>
	<div ng-if="details.name === 'sign-expense'">
		<button class="btn btn-default btn-xs" ui-sref="expense({uid: expenseUid})">
			<i class="fa fa-pencil-square-o"></i>
			{{ 'reimbursement.expense.signButton' | translate }}
		</button>
	</div>
	<div ng-if="details.name === 'print-expense'">
		<button class="btn btn-default btn-xs" ui-sref="expense({uid: expenseUid})">
			<i class="fa fa-print"></i>
			{{ 'reimbursement.expense.printPreview' | translate }}
		</button>
	</div>
	<div ng-if="details.name === 'assign-to-me'">
		<button class="btn btn-default btn-xs" ng-click="assignToMe()">
			<i class="fa fa-hand-o-right"></i>
			{{ 'reimbursement.expense.assignToMe' | translate }}
		</button>
	</div>
</div>
