<div id="guest-view-expense">
	<h1 class="page-header">
		<span class="vert-mid">
            <i class="fa fa-user"></i>
            {{ 'reimbursement.expense.guest_view' | translate }}
        </span>
	</h1>
	<div class="row" ng-if="!isLoading">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success" role="alert" ng-if="isAuthorized">
                <i class="fa fa-check-circle-o fa-2x"></i>
                <span>{{'reimbursement.expense.guest_view_success' | translate}}</span>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="!isAuthorized">
                <i class="fa fa-times-circle fa-2x"></i>
                <span>{{'reimbursement.expense.guest_view_error' | translate}}</span>
            </div>
        </div>
	</div>
    <div class="row" ng-if="!isLoading && isAuthorized">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block">
                        <i class="fa fa-file-text-o"></i>
                        <span>{{'reimbursement.expense.guest_view_button_complete' | translate}}</span>
                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block">
                        <i class="fa fa-file-o"></i>
                        <span>{{'reimbursement.expense.guest_view_button_half' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
