<div id="guest-expense">
    <h1 class="page-header">
        <span class="vert-mid">{{ expense.accounting }}</span>
        <small class="vert-mid">
            <expense-state state="expense.state"></expense-state>
        </small>
    </h1>
    <h2 class="page-header">
        <i class="fa fa-clone"></i>
        {{ 'reimbursement.expense-items.titleNotEditable' | translate }}
    </h2>

    <list-guest-expense-items expense-uid="expenseUid" expense-loaded="expenseLoaded"></list-guest-expense-items>

</div>