<div id="guest-expense">
	<h1 class="page-header">
		{{ expenseAccountingText }}
	</h1>

	<h2 class="page-header">
		<i class="fa fa-clone"></i>
		{{ 'reimbursement.expenseItem.titleNotEditable' | translate }}
	</h2>

	<list-expense-items expense-uid="expenseUid" editable="false" ng-if="showListExpenseItems"></list-expense-items>

	<hr>

	<form class="form-inline text-right">
		<a href class="btn btn-primary" target="_blank" ng-if="!isIE" ng-href="{{ pdfBlob.url }}" ng-disabled="pdfBlob === null">
			<i class="fa fa-file-pdf-o"></i>
			{{ 'reimbursement.expense.showPdf' | translate }}
		</a>
		<a href class="btn btn-primary" target="_blank" ng-if="!isIE" ng-href="{{ pdfBlob.url }}" download="{{ pdfBlob.name }}" ng-disabled="pdfBlob === null">
			<i class="fa fa-download"></i>
			{{ 'reimbursement.expense.downloadPdf' | translate }}
		</a>
		<a href class="btn btn-primary" target="_blank" ng-if="isIE" ng-click="downloadIE()" ng-disabled="pdfBlob === null">
			<i class="fa fa-download"></i>
			{{ 'reimbursement.expense.downloadPdf' | translate }}
		</a>
	</form>
</div>