<div id="view-expense">
	<spinner id="spinnerPrintExpense" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>
	<h1 class="page-header">
		<span class="vert-mid">{{ expenseAccountingText }}</span>
		<small class="vert-mid">
			<expense-state state="expenseState"></expense-state>
		</small>
	</h1>
	<h2 class="page-header">
		<i class="fa fa-print"></i>
		{{ 'reimbursement.expense.printExpense' | translate }}
	</h2>

	<list-expense-items expense-uid="expenseUid" expense-items="expenseItems"></list-expense-items>

	<hr>

	<form class="form-inline text-right">
		<button class="btn btn-default pull-left" ui-sref="dashboard">
			<i class="fa fa-arrow-circle-left"></i>
			{{ 'reimbursement.expense.returnToDashboard' | translate }}
		</button>
		<button class="btn btn-primary pull-right" ng-click="showPdf()" ng-disabled="expenseItems.length === 0">
			<i class="fa fa-print"></i>
			{{ 'reimbursement.expense.showPdf' | translate }}
		</button>
	</form>
	<iframe ng-if="showPdfFlag" ng-src="{{ pdfInBase64 | trusted }}" style="width: 100%; height: 400px;"></iframe>
</div>
