<div id="sign-expense-form">
	<div class="modal-header">
		<div class="close" ng-click="dismissWithConfirmation()">
			&times;
		</div>
		<h3 class="modal-title"><i class="fa fa-pencil-square-o"></i> {{ 'reimbursement.expense.signForm.title' | translate }} </h3>
	</div>
	<div class="modal-body">
		<form name="signature-method">
			<div class="form-group">
				<label for="signature-methdod">{{ 'reimbursement.expense.signForm.text' | translate }}</label>
				<div class="input-group">
					<input id="digital" type="radio" ng-model="method" value="digital" />
					<label for="digital"> {{ 'reimbursement.expense.signForm.digital' | translate }} </label>
					<br />
					<input id="electronical" type="radio" ng-model="method" value="electronical" />
					<label for="electronical"> {{ 'reimbursement.expense.signForm.electronical' | translate }} </label>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="save()">
			<i class="fa fa-save"></i>
			{{ 'reimbursement.expense.signForm.saveButton' | translate }}
		</button>
	</div>
</div>