<div id="sign-expense">
	<h1 class="page-header">
		<span class="vert-mid">
			{{ expense.accounting }}
		</span>
		<small class="vert-mid">
			<expense-state state="expense.state"></expense-state>
		</small>
	</h1>
	<h2 class="page-header">
		<i class="fa fa-clone"></i>
		{{ 'reimbursement.expense-item.titleNotEditable' | translate }}
	</h2>

	<list-expense-items expense-uid="expense.uid" expense-items="expenseItems" editable="false"></list-expense-items>

	<hr>

	<form class="form-inline text-right">
		<button class="btn btn-default pull-left" ui-sref="dashboard">
			<i class="fa fa-arrow-circle-left"></i>
			{{ 'reimbursement.expense.returnToDashboard' | translate }}
		</button>
		<button type="submit" class="btn btn-primary" ng-click="sign()" ng-hide="signedSuccessfully">
			<i class="fa fa-pencil-square-o"></i>
			{{ 'reimbursement.expense.sign' | translate }}
		</button>
	</form>

</div>
