<div id="view-expense">
	<h1 class="page-header">
		<span class="vert-mid">{{ expenseAccountingText }}</span>
		<small class="vert-mid">
			<expense-state state="expenseState"></expense-state>
		</small>
	</h1>

	<div ng-if="expenseState === 'REJECTED'" class="alert alert-danger" role="alert">
		<i class="fa fa-times"></i>
		<span>{{ 'reimbursement.expense.rejectComment' | translate }}</span>
		<br><div><b>{{ expenseComment }}</b></div>
	</div>

	<h2 class="page-header">
		<i class="fa fa-clone"></i>
		{{ 'reimbursement.expense-items.titleNotEditable' | translate }}
	</h2>

	<list-expense-items expense-uid="expenseUid" expense-items="expenseItems"></list-expense-items>

	<hr>

	<form class="form-inline text-right">
		<button class="btn btn-default pull-left" ui-sref="dashboard">
			<i class="fa fa-arrow-circle-left"></i>
			{{ 'reimbursement.expense.returnToDashboard' | translate }}
		</button>
	</form>

</div>
