<div id="registration-form">
	<h1 class="page-header">
		{{ 'reimbursement.registration.title' | translate: '{step:1}' }}
		<small>
			<i class="fa fa-user"></i>
			{{ 'reimbursement.registration.subtitleStep1' | translate }}
		</small>
	</h1>

	<div class="callout callout-primary">
		{{ 'reimbursement.registration.step1Message' | translate }}
	</div>

	<div class="col-sm-offset-1 col-sm-10">
		<settings-form></settings-form>

		<div class="text-right">
			<button class="btn btn-primary" ng-click="next()" ng-disabled="!formSettings.$valid || isLoading">

				<i class="fa fa-arrow-circle-right"></i>
				{{ 'reimbursement.expense.nextStepButton' | translate }}
			</button>
		</div>
	</div>

</div>