<div id="archive">
	<h1 class="page-header"><i class="fa fa-file-archive-o"></i> {{ 'reimbursement.archive.title' | translate }} </h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th> {{ 'reimbursement.dashboard.table.expenseAuthor' | translate }} </th>
				<th>{{ 'reimbursement.expense.accountingTitle' | translate }}</th>
				<th><span class="tableRightMargin"> {{ 'reimbursement.dashboard.table.date' | translate }} </span></th>
				<th><span class="tableRightMargin"> {{ 'reimbursement.dashboard.table.totalCosts' | translate }} </span></th>
				<th>{{ 'reimbursement.general.action' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="archivedExpenses.length < 1">
				<td colspan="99" class="text-center">{{ 'reimbursement.dashboard.table.noContent' | translate }}</td>
			</tr>
			<tr ng-repeat="expense in pagedExpenses[currentPage]">
				<td>{{expense.user}}</td>
				<td>{{expense.accounting}}</td>
				<td>{{expense.date | date:'dd.MM.yyyy'}}</td>
				<td><span class="tableRightMargin">{{ expense.totalAmount | currency:'CHF ':2 }}</span></td>
				<td>
					<expense-button
						expense-uid="expense.uid"
						expense-state="expense.state"
						expense-users="{userUid: expense.userUid,
							assignedManagerUid: expense.assignedManagerUid,
							financeAdminUid: expense.financeAdminUid}">
					</expense-button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="text-right" ng-hide="archivedExpenses.length <= itemsPerPage">
		<uib-pagination
			total-items="archivedExpenses.length"
			ng-model="currentPage"
			items-per-page="itemsPerPage"
			max-size="10"
			class="pagination-sm"
			boundary-links="true"
			rotate="false"
		></uib-pagination>
	</div>
</div>
