<div id="signatureCapture">
	<h1 class="page-header"><i class="fa fa-pencil-square-o"></i> {{ 'reimbursement.captureSignature.title' | translate }}</h1>
	<div class="well">{{ 'reimbursement.captureSignature.info' | translate }}</div>
	<div class="col-lg-8 col-lg-offset-2">

		<ul class="nav nav-tabs">
			<li role="captureMethod" ng-class="{active: showTouchInput}">
				<a href ng-click="selectTouchTab()">{{ 'reimbursement.captureSignature.touch.tab' | translate }}</a>
			</li>
			<li role="captureMethod" ng-class="{active: showUploadImage}">
				<a href ng-click="selectUploadTab()">{{ 'reimbursement.captureSignature.upload.tab' | translate }}</a>
			</li>
		</ul>

		<form id="signatureCaptureImage" ng-show="showUploadImage">
			<spinner id="spinnerSignatureImage" label="{{ 'reimbursement.captureSignature.spinnerUploading' | translate }}"></spinner>

			<div flow-init="{
				target: postSignaturePath,
				testChunks: false,
				singleFile: true,
				simultaneousUploads: 1
			}" flow-name="flow.image" flow-files-submitted="$flow.upload()" flow-upload-started="showSpinner('spinnerSignatureImage')" flow-complete="getImageAndGoToNextPage()">
				<div class="image-upload">
					<div flow-drop flow-btn ng-class="dropClass" flow-drag-enter="dropClass='dragOver'" flow-drag-leave="dropClass=''">
						<div class="center uploadButton">
							<i class="fa fa-plus-circle"></i> {{ 'reimbursement.captureSignature.upload.centerText' | translate }}
						</div>
					</div>
				</div>
			</div>

		</form>

		<form id="signatureCaptureTouch" ng-show="showTouchInput">
			<spinner id="spinnerSignatureTouch" label="{{ 'reimbursement.captureSignature.spinnerUploading' | translate }}"></spinner>

			<div ng-show="!Modernizr.touch && !forceSignaturePad">
				<div class="alert alert-warning">
					{{ 'reimbursement.captureSignature.touch.warning' | translate }}
					<div class="buttons">
						<button class="btn btn-warning" ng-click="forceSignaturePad = true">
							<i class="fa fa-exclamation-circle"></i>
							{{ 'reimbursement.captureSignature.touch.tryAnyway' | translate }}
						</button>
						<button class="btn btn-primary" ng-click="showQR()">
							<i class="fa fa-tablet"></i>
							{{ 'reimbursement.captureSignature.touch.tryMobile' | translate }}
						</button>
					</div>
				</div>
			</div>

			<div ng-show="Modernizr.touch || forceSignaturePad">
				<div class="resetForceSignature" ng-show="forceSignaturePad" ng-click="forceSignaturePad = false">
					<i class="fa fa-mobile"></i>
				</div>
				<signature-pad submit="submitTouch"></signature-pad>
				<div flow-init="{
					target: postSignaturePath,
					testChunks: false,
					singleFile: true,
					simultaneousUploads: 1
				}" flow-name="flow.touch" flow-upload-started="showSpinner('spinnerSignatureTouch')" flow-complete="getImageAndGoToNextPage()">
				</div>
			</div>

		</form>

	</div>
</div>