<div id="signatureCapture">
	<h1 class="page-header"><i class="fa fa-pencil-square-o"></i> {{ 'reimbursement.captureSignature.title' | translate }}</h1>
	<div class="well">{{ 'reimbursement.captureSignature.info' | translate }}</div>
	<div class="col-lg-8 col-lg-offset-2">

		<ul class="nav nav-tabs">
			<li role="captureMethod" ng-class="{active: showTouchInput}">
				<a href="#" ng-click="selectTouchTab()">{{ 'reimbursement.captureSignature.touch.tab' | translate }}</a>
			</li>
			<li role="captureMethod" ng-class="{active: showUploadImage}">
				<a href="#" ng-click="selectUploadTab()">{{ 'reimbursement.captureSignature.upload.tab' | translate }}</a>
			</li>
		</ul>

		<form id="signatureCaptureImage" ng-show="showUploadImage">
			<div class="image-upload">
				<div class="center">
					<i class="fa fa-plus"></i> {{ 'reimbursement.captureSignature.upload.centerText' | translate }}
				</div>
			</div>
		</form>

		<form id="signatureCaptureTouch" ng-show="showTouchInput">
			<div ng-show="!Modernizr.touch && !forceSignaturePad">
				<div class="alert alert-warning">{{ 'reimbursement.captureSignature.touch.warning' | translate }}</div>
				<qrcode data="{{currentURL}}" size="300"></qrcode>
				<div class="currentURL">{{currentURL}}</div>
				<button class="btn btn-warning forceSignature" ng-click="forceSignaturePad = true">
					<i class="fa fa-exclamation-circle"></i>
					{{ 'reimbursement.captureSignature.touch.forceButton' | translate }}
				</button>
			</div>
			<div ng-show="Modernizr.touch || forceSignaturePad">
				<div class="resetForceSignature" ng-show="forceSignaturePad" ng-click="forceSignaturePad = false">
					<qrcode data="1" size="26" version="2"></qrcode>
				</div>
				<canvas id="signaturePad"></canvas>
				<div class="buttons">
					<button class="btn btn-default" ng-click="resetSignaturePad()">
						<i class="fa fa-ban"></i>
						{{ 'reimbursement.captureSignature.touch.reset' | translate }}
					</button>
					<button class="btn btn-primary" ng-click="submitTouch()">
						{{ 'reimbursement.captureSignature.nextStep' | translate }}
					</button>
				</div>
			</div>
		</form>

	</div>
</div>