<div id="add-expenseitem">

	<div class="modal-header">
		<div class="close" ng-click="dismissWithConfirmation()">&times;</div>
		<h3 class="modal-title">
			<i class="fa fa-file-text-o"></i>
			{{ 'reimbursement.add-expenseitem.title' | translate }}
		</h3>
	</div>
	<div class="modal-body">
		<spinner id="spinnerEditExpenseItem" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="expenseitem-date" class="control-label col-sm-4">
					{{ 'reimbursement.add-expenseitem.date' | translate }}
				</label>
				<div class="col-sm-8">
					<div class="input-group date datepicker">
						<input type="text" id="expenseitem-date" ng-model="form.date" class="form-control" ng-change="calculateAmount()">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="expenseitem-costcategory" class="control-label col-sm-4">
					{{ 'reimbursement.add-expenseitem.costcategory' | translate }}
				</label>
				<div class="col-sm-8">
					<select id="expenseitem-costcategory" class="form-control" ng-model="form.costCategoryUid">
						<option ng-repeat="category in costCategories" value="{{ category.uid }}">{{ category.name.de }}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="expenseitem-amount" class="control-label col-sm-4">
					{{ 'reimbursement.add-expenseitem.amount' | translate }}
				</label>
				<div class="col-sm-4" style="padding-right: 0;">
					<input type="text" id="expenseitem-amount" ng-model="form.originalAmount" class="form-control text-center" ng-change="calculateAmount()">
				</div>
				<div class="col-sm-4">
					<select id="expenseitem-currency" class="form-control" ng-model="form.currency" ng-change="calculateAmount()">
						<option ng-repeat="currency in currencies" value="{{ currency }}">{{ currency }}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4">
					{{ 'reimbursement.add-expenseitem.calculatedAmount' | translate }}
				</label>
				<div class="col-sm-4" style="padding-right: 0;">
					<input type="text" class="form-control text-center" disabled value="{{ calculatedAmount }}">
				</div>
				<div class="col-sm-4 form-control-static">
					<div class="label label-default" style="font-size: 14px;">CHF</div>
				</div>
			</div>
			<div class="form-group">
				<label for="expenseitem-project" class="control-label col-sm-4">
					{{ 'reimbursement.add-expenseitem.project' | translate }}
				</label>
				<div class="col-sm-8">
					<input type="text" id="expenseitem-project" ng-model="form.project" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label for="expenseitem-explanation" class="control-label col-sm-4">
					{{ 'reimbursement.add-expenseitem.explanation' | translate }}
				</label>
				<div class="col-sm-8">
					<textarea id="expenseitem-explanation" ng-model="form.explanation" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4">
					{{ 'reimbursement.add-expenseitem.uploadDocument' | translate }}
				</label>
				<div class="col-sm-8">
					<button class="btn btn-default">
						<i class="fa fa-upload"></i>
						{{ 'reimbursement.expense.uploadDocumentButton' | translate }}
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="dismissWithConfirmation()">
			<i class="fa fa-times"></i>
			{{ 'reimbursement.expense.cancelButton' | translate }}
		</button>
		<button class="btn btn-primary" ng-click="sendForm()">
			<i class="fa fa-plus"></i>
			{{ 'reimbursement.expense.addNewReceiptButton' | translate }}
		</button>
	</div>

</div>
