<div id="signatureCaptureQRError">

	<div class="modal-header">
		<div class="close" ng-click="dismiss()"></div>
		<h3 class="modal-title">
			<i class="fa fa-warning"></i>
			{{ 'reimbursement.captureSignature.qr.error.title' | translate }}
		</h3>
	</div>

	<div class="modal-body">
		{{ 'reimbursement.captureSignature.qr.error.message' | translate }}
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="dismiss()">
			{{ 'reimbursement.captureSignature.qr.error.okayButton' | translate }}
		</button>
	</div>

</div>