<div id="attachmentCaptureMobile">

	<div class="complete" ng-class="{isComplete: isComplete}">
		<div class="text">
			<div><i class="fa fa-check-circle"></i></div>
			{{ 'reimbursement.captureAttachment.mobile.complete' | translate }}
		</div>
	</div>
	<div class="error" ng-class="{isError: isError}">
		<div class="text">
			<div><i class="fa fa-warning"></i></div>
			{{ 'reimbursement.captureAttachment.mobile.error' | translate }}
		</div>
	</div>

	<form id="attachmentCaptureImage">
			<spinner id="spinnerAttachmentMobile" label="{{ 'reimbursement.loading.label' | translate }}"></spinner>
			<div class="image-upload">
			<div flow-init="{target: postAttachmentPath, testChunks: false, singleFile: true, simultaneousUploads: 1, chunkSize: maxUploadSize}"
				flow-name="flow.image" flow-files-submitted="$flow.upload()"
				flow-upload-started="showSpinner('spinnerAttachmentMobile')" flow-file-success="success()"
				flow-file-error="error()">

					<div flow-drop flow-btn flow-attrs="{accept:['image/*','application/pdf']}" ng-class="dropClass" flow-drag-enter="dropClass='dragOver'" flow-drag-leave="dropClass=''">
						<div class="center uploadButton">
							<i class="fa fa-plus-circle"></i> {{ 'reimbursement.captureAttachment.upload.centerText'| translate }}
						</div>
					</div>
				</div>
			</div>

		</form>
</div>