<div id="attachmentCapture">
	<div class="well">
		{{ 'reimbursement.captureAttachment.info' | translate }}
	</div>
	<div class="col-lg-8 col-lg-offset-2">

		<div>
			<img id="showAttachment"></img>
		</div>

		<form id="attachmentCaptureImage">
			<spinner id="spinnerAttachmentImage" label="{{ 'reimbursement.captureAttachment.spinnerUploading' | translate }}"></spinner>

			<div class="alert alert-info">
				{{ 'reimbursement.captureAttachment.touch.warning' | translate }}
				<div class="buttons">
					<button class="btn btn-primary" ng-click="showQR()">
						<i class="fa fa-tablet"></i>
						{{ 'reimbursement.captureAttachment.touch.tryMobile' | translate }}
					</button>
				</div>
			</div>

			<div flow-init="{target: postAttachmentPath, testChunks: false, singleFile: true, simultaneousUploads: 1}"
			flow-name="flow.image" flow-file-added="validateFile($file)" flow-files-submitted="$flow.upload()"
			flow-upload-started="showSpinner('spinnerAttachmentImage')" flow-file-success="onAttachmentUploadSuccess()"
			flow-file-error="onAttachmentUploadError('image')">
				<div class="image-upload">
					<div flow-drop flow-btn ng-class="dropClass" flow-drag-enter="dropClass='dragOver'" flow-drag-leave="dropClass=''">
						<div class="center uploadButton">
							<i class="fa fa-plus-circle"></i> {{ 'reimbursement.captureAttachment.upload.centerText' | translate }}
						</div>
					</div>
				</div>
				<!-- <img flow-img="$flow.files[0]" /> -->
			</div>

		</form>
	</div>
</div>