<div class="imageCapture">
	<div class="select">
		<label for="videoSource">Video source: </label><select id="videoSource"></select>
	</div>
	<video id="video" autoplay width="250"></video>
	<button class="btn btn-default" ng-click="captureImage()">
			<i class="fa fa-camera"></i> {{ "reimbursement.imageCapture.touch.captureImage" | translate }}
	</button>

	<img id="image" style ="display: none" src="">
	<canvas id="canvas" width="200" height="200"></canvas>

	<div class="buttons">
		<button class="btn btn-default" ng-click="clearImage()">
			<i class="fa fa-ban"></i> {{ "reimbursement.imageCapture.touch.reset" | translate }}
		</button>
		<button class="btn btn-primary" ng-click="submitImage()">
			{{ "reimbursement.imageImage.nextStep" | translate }}
		</button>
	</div>
</div>