<div id="settings">
	<h1 class="page-header"><i class="fa fa-wrench fa-flip-horizontal"></i> {{ 'reimbursement.settings.title' | translate }} </h1>
	<div class="col-sm-10 col-sm-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ 'reimbursement.settings.userSettingsPanel' | translate }}
			</div>
			<div class="panel-body">
				<settings-form is-registration="false">
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ 'reimbursement.settings.signaturePanel' | translate }}
			</div>
			<div class="panel-body">
				<form id="signatureSettings" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label"> {{ 'reimbursement.settings.signature' | translate }} </label>
						<div class="col-sm-9 text-center" ng-if="signatureImage">
							<img id="signatureImage" ng-src="{{ signatureImage }}" ng-click="newSignature()">
						</div>
						<div class="col-sm-9" ng-if="!signatureImage">
							<div class="form-control-static text-center">
								<button type="submit" class="btn btn-primary" ng-click="newSignature()">
									<i class="fa fa-edit"></i>
									{{ 'reimbursement.settings.uploadSignature' | translate }}
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
