<div id="settings-form">
	<form id="languageSettings" class="form-horizontal" name="formSettings">
		<div class="form-group">
			<label class="col-sm-3 control-label" for="languageSelect"> {{ 'reimbursement.settings.language' | translate }} </label>
			<div class="col-sm-9 right-inner-addon">
				<select class="form-control" ng-model="form.language" id="languageSelect" ng-change="saveLanguage()">
					<option ng-repeat="language in languages" value="{{ language }}"> {{ "reimbursement.language.full."+language.toLowerCase() | translate }} </option>
				</select>
				<span class="inline-spinner fat right-margin" ng-class="{active: languageLoading}"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="personnelNumber"> {{ 'reimbursement.settings.personnelNumber' | translate }}
			<i class="fa fa-info-circle fa-lg info-icon" ng-click="openPersonnelNumberModal()"></i>
			</label>
			<div class="col-sm-9 right-inner-addon" ng-class="{'error': formSettings.personnelNumber.$invalid && formSettings.personnelNumber.$touched}">
				<input type="text" class="input-validation form-control" pattern="{{'settings.personnelNumber' | regexValidation}}" name="personnelNumber" id="personnelNumber"
					placeholder="{{ personnelNumber }}" ng-model="form.personnelNumber" ng-keydown="savePersonnelNumber()" required>
				<span ng-class="{'inline-spinner fat active': personnelNumberLoading}"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="phoneNumber"> {{ 'reimbursement.settings.phoneNumber' | translate }} </label>
			<div class="col-sm-9 right-inner-addon" ng-class="{'error': formSettings.phoneNumber.$invalid && formSettings.phoneNumber.$touched}">
				<input type="text" class="input-validation form-control" pattern="{{'settings.phoneNumber' | regexValidation}}" name="phoneNumber" id="phoneNumber"
					placeholder="{{ phoneNumber }}" ng-model="form.phoneNumber" ng-keydown="savePhoneNumber()" required>
				<span ng-class="{'inline-spinner fat active': phoneNumberLoading}"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label"> {{ 'reimbursement.settings.accountState' | translate }} </label>
			<div class="col-sm-9">
				<label class="checkbox-inline">
					<input type="checkbox" name="isActive" ng-model="form.isActive" ng-change="saveIsActive()"
							ng-disabled=" USER.hasRole('DEPARTMENT_MANAGER') || USER.hasRole('HEAD_OF_INSTITUTE') || !(formSettings.personnelNumber.$valid && formSettings.phoneNumber.$valid)">
					{{ 'reimbursement.settings.state' | translate }}
					<span class="inline-spinner fat pull-right" ng-class="{active: isActiveLoading}"></span>
				</label>
			</div>
		</div>
	</form>
</div>

