<div id="login">
	<h1 class="page-header">
		<i class="fa fa-sign-in"></i> CSRF Testing Page
	</h1>

	<div ng-controller="LoginController">
		<h3>Login</h3>
		<div class="alert alert-success" ng-show="loginSent && loginSuccess"><i class="fa fa-thumbs-o-up"></i> Very good Sir!</div>
		<div class="alert alert-danger" ng-show="loginSent && !loginSuccess"><i class="fa fa-thumbs-o-down"></i> Not good, duckhead...</div>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputUsername" class="col-sm-4 control-label">{{ 'reimbursement.login.usernameLabel' | translate }}</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="inputUsername" ng-model="form.username" placeholder="{{ 'reimbursement.login.usernameLabel' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-sm-4 control-label">{{ 'reimbursement.login.passwordLabel' | translate }}</label>
				<div class="col-sm-5">
					<input type="password" class="form-control" id="inputPassword" ng-model="form.password" placeholder="{{ 'reimbursement.login.passwordLabel' | translate }}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-9">
					<button class="btn btn-primary pull-right" ng-click="submit()">
						{{ 'reimbursement.login.submitLabel' | translate }}
					</button>
				</div>
			</div>
		</form>
	</div>

<h3>Public getUsers</h3>
	<div class="alert alert-success" ng-show="getUsersSent && getUsersSuccess"><i class="fa fa-thumbs-o-up"></i> Very good Sir!</div>
	<div class="alert alert-danger" ng-show="getUsersSent && !getUsersSuccess"><i class="fa fa-thumbs-o-down"></i> Not good, duckhead...</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-9">
				<button class="btn btn-primary pull-right" ng-click="getUsers()">
					get Public Users
				</button>
			</div>
		</div>
	</form>

<h3>Public getSignature</h3>
	<div class="alert alert-success" ng-show="getSignatureSent && getSignatureSuccess"><i class="fa fa-thumbs-o-up"></i> Very good Sir!</div>
	<div class="alert alert-danger" ng-show="getSignatureSent && !getSignatureSuccess"><i class="fa fa-thumbs-o-down"></i> Not good, duckhead...</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-9">
				<button class="btn btn-primary pull-right" ng-click="getSignature()">
					get getSignature
				</button>
			</div>
		</div>
	</form>
	<div class = "panel panel-info" ng-show="image">
	<div class="panel-heading"><h4>Result</h4></div>
	<img ng-src="data:image/PNG;base64,{{image}}">
	</div>

	<h3>Public getSignatureFailure</h3>
	<div class="alert alert-success" ng-show="getSignatureFailureSent && getSignatureFailureSuccess"><i class="fa fa-thumbs-o-up"></i> Very good Sir!</div>
	<div class="alert alert-danger" ng-show="getSignatureFailureSent && !getSignatureFailureSuccess"><i class="fa fa-thumbs-o-down"></i> Not good, duckhead...</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-9">
				<button class="btn btn-primary pull-right" ng-click="getSignatureFailure()">
					get getSignatureFailure
				</button>
			</div>
		</div>
	</form>
	<div class = "panel panel-info" ng-show="imageFailure">
	<div class="panel-heading"><h4>Result</h4></div>
	<pre>{{imageFailure}}"></pre>
	</div>

	<h3>Private getUsers</h3>
	<div class="alert alert-success" ng-show="getPrivateUsersSent && getPrivateUsersSuccess"><i class="fa fa-thumbs-o-up"></i> Very good Sir!</div>
	<div class="alert alert-danger" ng-show="getPrivateUsersSent && !getPrivateUsersSuccess"><i class="fa fa-thumbs-o-down"></i> Not good, duckhead...</div>
	<form class="form-horizontal">
		<div class="form-group">
			<div class="col-sm-9">
				<button class="btn btn-primary pull-right" ng-click="getPrivateUsers()">
					get Private Users
				</button>
			</div>
		</div>
	</form>

	<h3>Public sendString</h3>
	<div class="alert alert-success" ng-show="sendStringSent && sendStringSuccess"><i class="fa fa-thumbs-o-up"></i> Very good Sir!</div>
	<div class="alert alert-danger" ng-show="sendStringSent && !sendStringSuccess"><i class="fa fa-thumbs-o-down"></i> Not good, duckhead...</div>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputString" class="col-sm-4 control-label">String: </label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputString" ng-model="stringform.string" placeholder="some random string">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9">
				<button class="btn btn-primary pull-right" ng-click="sendString()">
					send String
				</button>
			</div>
		</div>
	</form>

	<h3>Public send CroppingDto</h3>
	<div class="alert alert-success" ng-show="sendCroppingDtoSent && sendCroppingDtoSuccess"><i class="fa fa-thumbs-o-up"></i> Very good Sir!</div>
	<div class="alert alert-danger" ng-show="sendCroppingDtoSent && !sendCroppingDtoSuccess"><i class="fa fa-thumbs-o-down"></i> Not good, duckhead...</div>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputCroppingDtoHeight" class="col-sm-4 control-label">Height: </label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputCroppingDtoHeight" ng-model="croppingDtoForm.height" placeholder="some random string">
			</div>
		</div>
		<div class="form-group">
			<label for="inputCroppingDtoWidth" class="col-sm-4 control-label">Width: </label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputCroppingDtoWidth" ng-model="croppingDtoForm.width" placeholder="some random string">
			</div>
		</div>
		<div class="form-group">
			<label for="inputCroppingDtoTop" class="col-sm-4 control-label">Top: </label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputCroppingDtoTop" ng-model="croppingDtoForm.top" placeholder="some random string">
			</div>
		</div>
		<div class="form-group">
			<label for="inputCroppingDtoLeft" class="col-sm-4 control-label">Left: </label>
			<div class="col-sm-5">
				<input type="text" class="form-control" id="inputCroppingDtoLeft" ng-model="croppingDtoForm.left" placeholder="some random string">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-9">
				<button class="btn btn-primary pull-right" ng-click="sendCroppingDto()">
					send String
				</button>
			</div>
		</div>
	</form>
</div>
